body {
    background: #333333;
}

#quoteArea {
    font-weight: bold;
}

#quoteAuthor {

}

#quoteTwitterShare {
    color: white;
}

#head-section {
    color: white;
    font-size: 150%;
    font-weight: bolder;
}

#head-section a {
    color: beige;
    text-decoration: underline;
}